/*Will This show up*/

body{
	font-size: 16px;
	background-color: #f05a5a;
}

#topHeader h1{
	text-align: center;
}

#topHeader h1 span{
	border: 3px solid black;
	padding: .5em; /*8px all around for padding*/
}

#topHeader h1 span:hover{
	transition-property: color, border-color;
	transition-duration: 3s, .5s;
	color: #c3c3c3;
	border-color: white; 
}

#topHeader ul {
	text-align: center;
	margin-top: 3.125em;
}

#topHeader ul li{
	display:inline;
	padding: .3em;
	border-bottom: 1px solid black;
}

#topHeader ul li:hover{
	border-bottom: 1px solid white;
}

.placeholder{
	width: 15%;
	height: 8.125em;
	background-color: white;
	float: left;
	display: inline-block;
}

.contentHolder{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	
}

#exploreSection > p {
	margin: 3em auto;
	float: none;
	text-align: center;	
}

p {
	width: 80%;
	display: block;
	float: right;
}