.top-bar{
	background-color: #003366;
}

body{
	font-family: 'Open Sans';
	background-color: #75010C;
	background-color: #911314;	
	font-size: 16px;
}

.panel{
	margin-top: 70px;
}	

#butlerBanner{
	min-height: 15.05em;
	background-color: white;
}

#butlerBanner img{
	margin-left: 8em;
}

#butlerWelcome{
	color: #F90304;
}

/************************
Explore Section Styles
************************/

#explorePage{
	min-height: 15.625em;
	margin-top: 0px;
	padding-top: 70px;
	background-color: #75010C;
}

#explorePage p{
	font-size: 1.5em;
	color: white;
	text-align: center;
}

/************************
Student Section Styles
************************/

#studentSection{
	min-height: 10.625em;
	background-color: white;
	color: #911314;
}

#studentSection p {
		font-size: 1.3em;
}

#studentSection img {
	height: 15.625;
}

/************************
Parent Section Styles
************************/

#parentSection{
	min-height: 30.625em;
	background-color: #75010C;
	color: white;
	overflow: hidden;
}

#parentSection #parentPortalImage {
	border-radius: 15%;
	margin-left: 8em;
}

#parentSection p {
		font-size: 1.2em;
}

#lunchImage{
	margin-left: 1.6em;
}

/************************
Contact Section Styles
************************/


#contactSection{
	min-height: 30.625em;
	color: #75010C;
	background-color: white;
}

#contactSection > div {
	padding: 1em;
	margin: 0 auto;
}

#contactSection div > span {
	font-size: 1.3em;
}

#contactComponents{
	padding-bottom: 2em;
}

footer{
	background-color: #75010C;
	color: white;
}